{% extends "base.html" %}

{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/user/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">

<div id="content-main">
    <h1>ユーザー登録画面</h1>
    <form method="post" id="user_form">
        {% csrf_token %}
        
        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        
        <p>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </p>
        
        <p>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </p>
        
        <div class="submit-row">
            <input type="submit" value="登録" class="default">
        </div>
    </form>
</div>
{% endblock %}
