{% extends "base.html" %}

{% block additional_styles %}
{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop/map.css' %}">

<div id="maps" style="height: calc(100vh - 30px - 50px);"></div>
{% if request.user.is_superuser and not user_has_shop %}
    <a href="{% url 'add_farm' %}" class="outlet-button">出店</a>
{% endif %}
<script>
    var shops = {{ shops|safe }};

    function initMap() {
      var mapArea = document.getElementById('maps');
    var map;

    // Geolocation APIで現在地の緯度・経度を取得
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var mapPosition = { lat: position.coords.latitude, lng: position.coords.longitude };

            map = new google.maps.Map(mapArea, {
                center: mapPosition,
                zoom: 8,
            });

            displayShopsOnMap(map, mapPosition);

        }, function(error) {
            console.error("位置情報の取得に失敗しました。エラーコード: " + error.code);
            // 位置情報が取得できなかった場合のデフォルトの位置
            var defaultPosition = { lat: 35.170662, lng: 136.923430 };
            map = new google.maps.Map(mapArea, {
                center: defaultPosition,
                zoom: 13,
            });

            displayShopsOnMap(map, mapPosition);
        });
    } else {
        console.error("このブラウザはGeolocation APIをサポートしていません。");
    }
}

function displayShopsOnMap(map, mapPosition) {
    shops.forEach(function(shop) {
        var position = new google.maps.LatLng(shop.latitude, shop.longitude);
        var shopMarker = new google.maps.Marker({
            position: position,
            map: map,
            title: shop.name
        });
        const baseUrl = window.location.origin; 
        var shopInfoWindowContent = `
        <div>
            <h1>
                <a href="${baseUrl}/shop/${shop.id}/" style="text-decoration: none;" color="black">${shop.name}</a>
            </h1>
            <div>
                <img width=200 height=150 src="${shop.img}">
            </div>
        </div>`;
        

        var shopInfoWindow = new google.maps.InfoWindow({
            content: shopInfoWindowContent
        });

        shopMarker.addListener('click', function() {
            shopInfoWindow.open(map, shopMarker);
        });
    });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap" async></script>

{% endblock %}
