{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop/list_styles.css' %}">
    <ul class="shop-list">
        {% for shop in shops %}
            <li class="shop-item">
                <a href="{% url 'single_shop' shop_id=shop.id %}">
                    <h2>{{ shop.name }}</h2>
                    <ul class="product-list">
                        {% for product in shop.products.all %}
                            <li ><span class="product-item">作物:{{ product.name }}</span></li>
                        {% endfor %}
                    </ul>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}